<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/passwordList.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h2>Your Passwords</h2>
    <table>
        <tr>
            <th>Site</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        <tr th:each="p : ${passwordList}">
            <td th:text="${p.siteUrl}">Site URL</td>
            <td th:text="${p.siteUsername}">Username</td>
            <td th:text="${p.password}"></td>
            <td>
<!--                <form method="post" th:action="@{|/edit-password/${p.id}|}">-->
<!--                    <input name="_method" type="hidden" value="delete"/>-->
<!--                    <button type="submit">-->
<!--                        Edit-->
<!--                    </button>-->
<!--                </form>-->
                <form method="post" th:action="@{|/delete-password/${p.id}|}">
                    <input name="_method" type="hidden" value="delete"/>
                    <button type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
